// Simple reset
* {
    margin: 0;
    padding: 0;
}

html {
    box-sizing: border-box;
    // defines what 1rem is
    font-size: 62.5%; // 1rem = 10px, 10px/16px = 62.5%

    @include respond(large) {
        font-size: 50%; // 1rem = 10px, 8px/16px = 50%
    }
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-image: linear-gradient(to right bottom, var(--color-primary-light), var(--color-primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    color: var(--color-grey-dark-2);
}